@charset "UTF-8"; 
::selection{background-color: #1ecad3; color: white;}



/* pc */
.container{max-width: 1200px; margin: auto;}

.menu_up{display: flex; align-items: center;justify-content: flex-end;padding: 30px 0;}
.menu_up .logo{display: flex; justify-content: center; width: 400px;}
.menu_up .logo img{width: 71px;}


#header .menu_side{width: 400px;}

#header .up ul{display: flex; justify-content: flex-end;}
#header .up ul li{padding: 0 0 0 20px; font-size: 12px; }
.up ul li a{color: #666; text-decoration: none; font-weight: bolder;}
.up ul li a:hover{color: rgb(163, 163, 163);}

#header .down ul{display: flex; justify-content: flex-end;}
#header .down ul li{margin-left: 15px;margin-top: 20px;}
#header .down ul li a{padding: 4px 20px; background: #ff7e6b; border-radius: 20px 20px; color: white; text-decoration: none; font-weight: bolder;}
#header .down ul li a:hover{padding: 4px 20px; background: white; color: #ff7e6b; border: 1px solid #ff7e6b;}
#header .down ul li .reserv{padding: 4px 20px; background: #1ecad3; border-radius: 20px 20px; color: white; text-decoration: none; font-weight: bolder;}
#header .down ul li .reserv:hover{background: #10adb5; color: white; border: none;}


#header .gnb{text-align: center; clear: both; padding-bottom: 34px;}
#header .gnb ul{display: flex; justify-content: center;}
#header .gnb ul li{padding: 0px 50px;}
#header .gnb ul li a{justify-content: center; text-decoration: none; color: #666; font-weight: bold; font-size: 14px;letter-spacing: -0.5px;}
#header .gnb ul li a:hover{color: rgb(163, 163, 163);}

.gnb li:last-child a {padding-right: 0;}

.gnb li:hover .depth {display: block;}
.gnb .depth{position: absolute;left: 0;top: 213px;width: 100%;background: #e5e7eb;z-index: 100;display: none;}
.gnb .submenu{width: 1050px;margin: 0 auto;text-align: left;}

.depth .submenu {box-sizing: border-box;}

.depth .submenu li {display: inline;}
.depth .submenu li a {font-size: 14px;display: inline-block;padding: 10px;}
.depth .submenu li a:hover {background: #1ecad3;color: white !important;}


/* ----------------------------------//header-------------------------------------- */
.side{position: fixed;top: 83%;right: 1.5%;}
.side a img{width: 60px; margin-bottom: 5px;}
.side .scrolltop{display: none;}
/* ----------------------------------//sidemenu-------------------------------------- */


.inbox{max-width: 1200px; margin: 0 auto;}

.con_left img{width: 200px;}

#content .content1 video{max-width: 100%;} 
#content p{font-size: 18px; color: white; line-height: 1.5;}
#content p span{font-weight: bold;}
#content .con_box{display: flex;justify-content: center;align-items: center; height: 591px; max-width: 1200px;}

#content .content2{background: url(../img/content_1bg.png) no-repeat;max-width: 100%; height: 593px; background-size: cover;}
.content2 .con_right img{height: 173px;}
.content2 .con_left img{padding-top: 100px;}

#content .content3{background: url(../img/content_2bg.png) no-repeat;max-width: 100%; height: 593px; background-size: cover;}
.content3 .con_right img{height: 86px;}
.content3 .con_left img{padding-top: 100px;}

#content .content4{background: url(../img/content_3bg.png) no-repeat;max-width: 100%; height: 593px; background-size: cover;}
.content4 .con_right img{height: 86px;}
.content4 .con_left img{;padding-top: 100px;}


#content .content5{background: url(../img/content_4bg.png) no-repeat;max-width: 100%; height: 593px; background-size: cover;}
.content5 .con_right img{height: 86px;}
.content5 .con_left img{padding-top: 100px;}

#content .buy p{color: #1ecad3; text-align: center; padding: 56px 0 20px 0;}


#content .banner_box{height: 84px; overflow: hidden; white-space: nowrap;} 
#content .shop_banner{animation: marquee 52s linear infinite; transform: translateX(0);}
#content .shop_banner .ban_shop img{min-height: 59px;height: 59px; padding: 7.5px; float: left;}

@keyframes marquee{
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }}


/* ----------------------------------//content-------------------------------------- */

.swiper {
    max-width: 1900px;
    height: 100%;
  }
  .swiper h2{
    text-align: center;
    margin: 50px 0;
    color: #1ecad3;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* ----------------------------------//swiper-------------------------------------- */
#footer{clear: both; margin-top: 133px; margin-bottom: 50px;}


#footer .footer_link ul li{float: left; margin: 0 15px 15px 0; font-size: 14px; height: 40px; padding: 0 15px;}
.footer_link .left_link {margin-left: 20px;}
#footer .footer_link ul li a{text-decoration: none; color: #666;}
#footer .footer_link ul li a span{font-weight: bold;}


#footer .right_sns{float: right;}
#footer .right_sns div{float: left; margin-right: 10px;}
#footer .right_sns ul li img{height: 38px;}


#footer .address{clear: both; font-size: 13px; color: #999;margin: 0 20px; line-height: 2;}
#footer .address span{clear: both; font-size: 11px;}

/* ----------------------------------//footer-------------------------------------- */

.MOgnb{
    display: block;
    position: absolute;
    left: 15px;
    top: 35px;
    width: 23px;
    height: 16px;
}
.MOgnb span{
    box-sizing: border-box;
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    border-radius: 10px;
    background: #1ecad3;
}



/* ==============
    Media Query
================*/

/* pc, tablet */
@media screen and (min-width: 991px) and (max-width: 3000px) {
.MOlogo,.MOgnb{display: none;}

#footer .right_sns{}
}
/* //pc,tablet */

/* phone */
@media screen and (max-width: 990px) {
    .logo img{display: none;}
    .gnb{display: none;}
    .menu_side{display: none;}


    .MOlogo img{width: 94px;}

    #footer .right_sns{display: none;}
}
/* //phone */


/* mini */
@media screen and (max-width: 768px) {
.logo img{display: none;}
.menu_side{display: none;}
.gnb{display: none;}

.con_right img {    height: 43px;}
#content .content2 .con_right img {    height: 86px;}

#content .con_box {
    display: flex;
    /* height: 591px; */
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
}

#footer .right_sns{display: none;}
#footer span .hidden{display: none;}
}
/* mini */
